<h1>This is <%= @user.username %>'s show page</h1>
<br />
<h3>Admin: <%= @user.admin? %></h3>
<h3>Standard: <%= @user.standard? %></h3>
<br />
<%= link_to 'Change Account Information', edit_user_registration_path %>
<br />
<% if current_user.role == 'admin' %>
  <%= link_to 'Add New Category', new_category_path %>
  <br />
  <%= link_to 'User List', user_list_path %>
  <br />
  <%= link_to 'Add New Item', new_item_path %>
<% end %>