<div class='order_index'>
  <div class='row'>
    <div class='col-md-12 text-center'>
      <h3><%= @user.username %>'s Order List</h3>
    </div>
  </div>
    <% if @user.orders_count > 0 %>
      <table class="table table-bordered text-center">
        <tr class="active">
          <th>
            No.
          </th>
          <th>
            Status
          </th>
          <th>
            Order Item #
          </th>
          <% if current_user.admin? %>
            <th>
              Total Weight
            </th>
            <th>
              Total Dimensions
            </th>
          <% end %>
          <th>
            Order Item Total
          </th>
          <th>
            Tax %
          </th>
          <th>
            Shipping
          </th>
          <th>
            Order Total Amount
          </th>
          <th>
            Check Out
          </th>
        </tr>
        <% @user.orders.reverse.each_with_index do |order, index| %>
          <tr class='order_id_<%= order.id %>'>
            <td class='index'>
              <%= index + 1 %>
            </td>
            <td>
              <%= order_status_text_for_order_index(order) %>
            </td>
            <td class='order_item_quantity'>
              <%= link_to order.order_items_count, order_path(order), class: "btn btn-default btn-xs btn-block" %>
            </td>
            <% if current_user.admin? %>
              <td>
                <%= order.total_weight %>
              </td>
              <td>
                <%= order.total_dimensions %>
              </td>
            <% end %>
            <td class='order_items_total'>
              <%= order.order_items_total %>
            </td>
            <td>
              <%= order.tax %>
            </td>
            <td class='shipping'>
              <%= order.shipping %>
            </td>
            <td class='order_total_amount'>
              <%= order.order_total_amount %>
            </td>
            <td>
              <% if order.shipping_information == nil %>
                <%= link_to 'Create Destination', new_order_shipping_information_path(order), class: "btn btn-default btn-xs btn-block" %>
              <% else %>
                <%= link_to 'Show Destination', order_shipping_information_path(order, order.shipping_information), class: "btn btn-default btn-xs btn-block" %>
              <% end %>
              
              <% if order.order_total_amount > 0 && order.status == 'unpaid'%>
                <%= link_to 'Make the Payment',new_order_charge_path(order), class: "btn btn-primary btn-xs btn-block" %> 
              <% end %>
              
              <% if current_user.admin? %>
                <% if order.status == 'unshipped' %>
                  <%= link_to 'Enter Tracking #', new_order_tracking_number_path(order), class: "btn btn-warning btn-xs btn-block" %>
                <% elsif order.status == 'unreceived' %>
                  <%= link_to 'Update Tracking #', edit_order_tracking_number_path(order, order.shipping_information), class: "btn btn-warning btn-xs btn-block" %>
                <% end %>
              <% end %>
              
              <% if order.status == 'unreceived' || order.status == 'finished' %>
                <%= link_to 'Track Package', order_tracking_number_path(order, order.shipping_information), class: "btn btn-default btn-xs btn-block" %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </table>
    <% else %>
      <div class='col-md-12 text-center'>
        <% if @user == current_user %>
          <h3>You don't have any item in your order list yet</h3>
        <% else %>
          <h3>This user doesn't have any item in his/her order list yet</h3>
        <% end %>
      </div>
    <% end %>
</div>