<div class='order_show'>
  <div class='row'>
    <div class='col-md-12 text-center'>
      <% if @order.user != current_user %>
        <h2><%= @order.user.username %>'s order detail</h2>
      <% else %>
        <h2>Order Item List for This Order</h2>
      <% end %>
    </div>
  </div>
  <div class='row order_status text-center'>
    <% if @order.status. == 'unpaid' %>
      <div class='col-md-2 col-md-offset-5 bg-danger'>
        Order Status: <%= @order.status %>
      </div>
    <% elsif @order.status == 'finished' %>
      <div class='col-md-2 col-md-offset-5 bg-info'>
        Order Status: <%= @order.status %>
      </div>
    <% else %>
      <div class='col-md-2 col-md-offset-5 bg-warning'>
        Order Status: <%= @order.status %>
      </div>
    <% end %>
  </div>
  <table class='table table-bordered text-center'>
    <tr>
      <th>
        No.
      </th>
      <th>
        Img
      </th>
      <th>
        Item Title
      </th>
      <th>
        Price / item
      </th>
      <th>
        Quantity
      </th>
      <th>
        Total Price
        <p>(not include tax)</p>
      </th>
      <th>
        Shipping
      </th>
      <% if @order.status == 'unpaid' %>
        <th>
          Setting
        </th>
      <% end %>
    </tr>
    <% @order.order_items.each_with_index do |order_item, index| %>
      <tr>
        <td>
          <%= index + 1 %>
        </td>
        <td>
          <% if order_item.item.pictures.any? %>
            <%= link_to image_tag(order_item.item.pictures[0].url, size: '100x100', class: 'img-responsive center-block'),
            category_item_path(order_item.item.category_id, order_item.item.id) %>
          <% else %>
            <%= link_to image_tag('no_uploaded.png', size: '100x100', class: 'img-responsive center-block'),
            category_item_path(order_item.item.category_id, order_item.item.id) %>
          <% end %>
        </td>
        <td>
          <%= order_item.item.title %>
        </td>
        <td>
          $ <%= order_item.item.price %>
        </td>
        <td>
          <%= order_item.quantity %>
        </td>
        <td>
          <%= order_item.total_amount %>
        </td>
        <td>
          <%= order_item.shipping %>
        </td>
        <% if @order.status == 'unpaid' %>
          <td>
            <div class='order_item_edit'>
              <%= bootstrap_form_for(order_item, layout: :inline) do |f| %>
                <%= f.number_field :quantity, skip_label: true %>
                <%= f.submit "Change Quantity" %>
              <% end %>
            </div>
            <%= link_to 'Delete', order_item_path(order_item), method: :delete, class: "btn btn-danger" %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </table>
  
  <table class='table table-bordered text-center'>
    <tr>
      <th>
        <h4>Total Order Item #: <%= @order.order_items_count %></h4>
      </th>
      <th>
        <h4>Total Quantity: <%= count_total_quantity(@order) %></h4>
      </th>
      <th>
        <h4>Total Price: <%= @order.order_items_total %></h4>
        <p>(Without tax and shipping fee)</p>
      </th>
      <th>
        <h4>Total Shipping: <%= @order.shipping %></h4>
      </th>
    </tr>
  </table>
</div>