<h1>This is <%= @item.title %>'s show page</h1>
<% if @item.pictures.any? %>
  <% @item.pictures.each do |pic| %>
    <%= image_tag pic.url %>
  <% end %>
<% end %>

<%= @item.id %>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>stock</th>
    <th>price</th>
    <th>status</th>
    <th>sold</th>
  </tr>
  <tr>
    <th>
      <p><%= @item.title %></p>
    </th>
    <th>
      <p><%= @item.description %></p>
    </th>
    <th>
      <p><%= @item.stock %></p>
    </th>
    <th>
      <p><%= @item.price %></p>
    </th>
    <th>
      <p><%= @item.status %></p>
    </th>
    <th>
      <p><%= link_to @item.sold, '#' %></p>
    </th>
  </tr>
</table>